@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: 'Inter', sans-serif;
  margin: 0px;
  padding: 0px;
  user-select: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  overflow-y: scroll;
  overflow-y: overlay;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e141b;
  color: #ffffff;
  outline: none;
}
input{
  font-family: 'Inter', sans-serif;
  outline: none;
}
button{
  font-family: 'Inter', sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: #0e141b; 
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
:focus-visible {
  outline: 2px solid #0e62ffaa !important;
}
.drag{
  -webkit-app-region: drag;
  position: absolute;
  width: 40%;
  height: 70px;
  z-index: -10;
  background-color: transparent;
  margin-left: 35%;
}
.upload-styles {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-styles input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#fade{
  animation: .2s fade;
}
@keyframes fade {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}
